.home {
}

.home-photo {
}

.home-about {
}

.home-links {
	background-color: #d3d3d3;
}

img {
	max-height: 100%;
	max-width: 100%;
	border-radius: 50%;
}

h1, p {
	font-family: Raleway;
	background: none;
}

h1 {
	font-size: 46px;
}

p {
	font-size: 1.5em;
}

a:hover, a:link, a:visited {
	color: #000000;
}

.nav-button {
	background: rgba(0, 0, 0, 0.15);
	border-radius: 25%;
	color: #fff;
	cursor: pointer;
	position: fixed;
	font-size: 40px;
	transition: bottom ease-in-out 0.3s;
	-webkit-transition: bottom ease-in-out 0.3s;
	-moz-transition: bottom ease-in-out 0.3s;
}

.nav-button.go-up {
	right:20px;
	bottom:20px;
}

.nav-button.go-home {
	right:80px;
	bottom:20px;
}

.nav-button.go-down {
	right:140px;
	bottom:20px;
}

.go-up:hover {
	bottom: 15px;
}

.go-down:hover {
	bottom: 15px;
}

.social-links {
	margin-top: 45px;
}

.social-links span {
	width: 100%;
	text-align: center;
	font-size: 40px;
}

.social-links .social-text  {
	width: 100%;
	text-align: center;
}

/*
	For the social links
*/
.github-text {
	display: none;
}
.linkedin-text {
	display: none;
}
.twitter-text {
	display: none;
}
.facebook-text {
	display: none;
}

.github-image:hover .github-text {
	display: block;
}

.linkedin-image:hover .linkedin-text {
	display: block;
}

.twitter-image:hover .twitter-text {
	display: block;
}

.facebook-image:hover .facebook-text {
	display: block;
}


/* Backgrounds will cover all the section
	* --------------------------------------- */
.section{
	background-size: cover;
}

.slide{
	background-size: cover;
}

#section-home {
	/*background-image: url("../img/home-background2.jpg");*/
	padding: 0% 0 0 0;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.7s;
  -moz-animation-duration:0.7s;
  animation-duration:0.7s;
}

.fade-in.home-photo {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.fade-in.home-about {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.go-down, .fade-in.go-up, .fade-in.go-home {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

