img {
	max-height: 100%;
	max-width: 100%;
	border-radius: 50%;
}

h1, p {
	font-family: Raleway;
	background: none;
}

h1 {
	font-size: 46px;
}

p {
	font-size: 1.5em;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

a:hover, a:link, a:visited {
	color: #000000;
}

.name-space {
	text-align: center;
	font-size: 45px;
	margin-bottom: 30px;
}

.side-nav-bar {
	position: fixed;
	top: 0px; right: 0px;
	height: 100%;
	width: 80px;
	background: #424242;
	display: table;
}

.nav-bar-wrapper {
	vertical-align: middle;
	display: table-cell;
}

.nav-button {
	color: #fff;
	cursor: pointer;
	font-size: 40px;
	text-align: center;
	height: 80px;
	transition: bottom ease-in-out 0.3s;
	-webkit-transition: bottom ease-in-out 0.3s;
	-moz-transition: bottom ease-in-out 0.3s;
	margin-top: 15px;
}

.go-down {
	padding-top: 15px;
}

.nav-bar-text {
	font-size: 14px;
}

.nav-button:hover {
	background:#000;
}

/*
	Social links etc
*/
.social-links {
	margin-top: 45px;
}

.social-links span {
	width: 100%;
	text-align: center;
	font-size: 40px;
}

.social-links .social-text  {
	width: 100%;
	text-align: center;
}

.social-text {
	font-family: Roboto;
	font-size:1.3em;
}

.github-text {
	display: none;
}
.linkedin-text {
	display: none;
}
.twitter-text {
	display: none;
}
.facebook-text {
	display: none;
}

.github-image:hover .github-text {
	display: block;
}

.linkedin-image:hover .linkedin-text {
	display: block;
}

.twitter-image:hover .twitter-text {
	display: block;
}

.facebook-image:hover .facebook-text {
	display: block;
}

/* Backgrounds will cover all the section
	* --------------------------------------- */
.section{
	background-size: cover;
}

.slide{
	background-size: cover;
}

#section-home {
	/*background-image: url("../img/home-background2.jpg");*/
	padding: 0% 0 0 0;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.7s;
  -moz-animation-duration:0.7s;
  animation-duration:0.7s;
}

.fade-in.home-photo {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.fade-in.home-about {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.nav-button {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

